<h2 style="text-align:center;">{{title}}</h2>

<div style="display:flex; justify-content:center; margin-top:20px;">
  <table border="1" cellspacing="0" cellpadding="8" 
         style="border-collapse: collapse; width: 90%; max-width: 1000px; text-align: center;">
    <thead style="background-color:#f0f0f0;">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Neighbourhood</th>
        <th>Room Type</th>
        <th>Price</th>
        <th>Host</th>
        <th>Thumbnail</th>
      </tr>
    </thead>
    <tbody>
      {{#each records}}
        {{#if this.NAME}}   <!-- Only render row if NAME is not empty -->
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.NAME}}</td>
          <td>{{this.neighbourhood}}</td>
          <td>{{this.[room type]}}</td>
          <td>{{this.price}}</td>
          <td>{{this.[host name]}}</td>
          <td>
            {{#if this.thumbnail}}
              <img src="{{this.thumbnail}}" alt="Property Image" style="max-width:100px; border-radius:5px;">
            {{/if}}
          </td>
        </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>
